<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>183266393805-dn246j57c5o0m3b5hp2abtafq9j914b9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183266393805-dn246j57c5o0m3b5hp2abtafq9j914b9</string>
	<key>API_KEY</key>
	<string>AIzaSyBj2c5_W-yIelT0SMCkEZ1zBPm39oLLh78</string>
	<key>GCM_SENDER_ID</key>
	<string>183266393805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speedyinventory.production</string>
	<key>PROJECT_ID</key>
	<string>speedymovinginventory</string>
	<key>STORAGE_BUCKET</key>
	<string>speedymovinginventory.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183266393805:ios:90524e498b9fa765</string>
	<key>DATABASE_URL</key>
	<string>https://speedymovinginventory.firebaseio.com</string>
</dict>
</plist>